# Dependencies
node_modules/

# Environment secrets
.env
*.env
.env.local
*.env.local

# Expo
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/

# Vercel
apps/api/.vercel/

# Native signing artifacts
*.keystore
*.p8
*.p12
*.mobileprovision

# Build outputs
dist/
build/

# OS
.DS_Store
Thumbs.db
